@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;

.summarizer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $tool-summarizer;
}

.summarizer__container {
  width: 92%;
  height: 94%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $bg-light;
  padding: $padding-medium;
  border-radius: 1rem;
  overflow: hidden;
}

.summarizer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: $gap-small;

  .summarizer__back-button {
    text-decoration: none;
    color: $text-dark;
    font-size: 1.25rem;
    cursor: pointer;

    &:hover {
      color: $text-heading;
    }
  }

  .summarizer__title {
    font-weight: 300;
    font-size: 2.5rem;
    color: $text-heading;
    font-family: "Jersey 15", Arial, sans-serif;
  }
}

.summarizer__output {
  width: 100%;
  margin-bottom: $gap-small;

  .summarizer__label {
    font-size: 1rem;
    color: $text-dark;
    margin-bottom: $gap-small;
    display: inline-block;
    vertical-align: middle;
  }

  .clipboard-icon {
    width: 15px;
    height: 15px;
    margin-left: 8px;
    margin-bottom: $gap-small;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      outline: none;
    }
  }

  .summarizer__textarea {
    width: 100%;
    height: 250px;
    font-family: "Outfit", "Arial", "sans-serif";
    font-weight: 300;
    font-style: normal;
    line-height: 1.6;
    font-size: 0.875rem;
    color: $text-heading;
    background-color: $bg-light;
    border: 2px solid $text-dark;
    border-radius: $border-radius;
    padding: $padding-small;
    resize: none;
    overflow: auto;

    &:focus {
      outline: none;
      border-color: $text-dark;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: $tool-summarizer;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $tool-summarizer-hover;
    }
  }
}

.summarizer__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .summarizer__button {
    padding: $padding-small $padding-small;
    font-size: 0.875rem;
    font-weight: bold;
    border-radius: $border-radius;
    cursor: pointer;
    background-color: $tool-summarizer;
    color: #fff;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
      background-color: $tool-summarizer-hover;
      transform: translateY(-2px);
    }
  }
}

.summarizer__footer {
  margin-top: auto;

  .summarizer__disclaimer {
    font-size: 0.65rem;
    color: $text-dark;
    text-align: center;
  }
}