@font-face {
  font-family: 'Jersey 15';
  src: url('../../assets/fonts/Jersey-15/Jersey15-Regular.woff2') format('woff2'),
  url('../../assets/fonts/Jersey-15/Jersey15-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('../../assets/fonts/Outfit/Outfit-light.woff2') format('woff2'),
  url('../../assets/fonts/Outfit/Outfit-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('../../assets/fonts/Outfit/Outfit-Regular.woff2') format('woff2'),
  url('../../assets/fonts/Outfit/Outfit-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src: url('../../assets/fonts/Outfit/Outfit-Medium.woff2') format('woff2'),
  url('../../assets/fonts/Outfit/Outfit-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src: url('../../assets/fonts/Outfit/Outfit-Bold.woff2') format('woff2'),
  url('../../assets/fonts/Outfit/Outfit-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}