@use 'fonts';
@use 'mixins';
@use 'variables';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body {
  font-family: Outfit, Arial, sans-serif;
  width: 350px;
  height: 500px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


h1 {
  font-size: 2rem;
  color: #333;
}

a{
  text-decoration: none;
}
