// Colors
$bg-light: #f6eddd;
$text-dark: #222;
$text-heading: #333;

// Tool Colors
$tool-ocr: #91D9F8;
$tool-ocr-hover: #72C2E0;

$tool-screenshot: #FFB380;
$tool-screenshot-hover: #E09A6A;

$tool-hex: #C3A2E8;
$tool-hex-hover: #A784CC;

$tool-timer: #F29A9D;
$tool-timer-hover: #D47E81;

$tool-summarizer: #A9E5BB;
$tool-summarizer-hover: #8CC9A1;


$gap-small: 10px;
$gap-medium: 15px;
$padding-small: 10px;
$padding-medium: 1rem;
$max-container-width: 350px;


$border-radius: 8px;
$border-width: 2px;
$border-color: $text-dark;
$box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
