@use 'partials/global' as *;
@use 'partials/variables' as *;

.toolz {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $bg-light;
  overflow: hidden;
  border: $border-width $border-color solid;
  padding-left: $padding-medium;
  padding-right: $padding-medium;
}

.toolz__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap-small;
  margin-top: 2rem;
}

.toolz__logo {
  width: 50px;
  height: 50px;
}

.toolz__logo-image {
  width: 100%;
  height: auto;
}

.toolz__title {
  font-family: "Jersey 15", Arial, sans-serif;
  font-weight: 300;
  font-size: 3.5rem;
  color: $text-heading;
}

.toolz__container {
  display: flex;
  flex-direction: column;
  gap: $gap-medium;
  margin-top: 40px;
  width: 100%;
  align-items: center;
}

.tool {
  display: flex;
  align-items: center;
  gap: $gap-medium;
  text-decoration: none;
  padding: $padding-small $padding-medium;
  border-radius: $border-radius;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
  max-width: $max-container-width;
}

.tool:hover {
  transform: translateY(-2px);
}


.tool--ocr {
  background-color: $tool-ocr;
  color: $text-dark;
}

.tool--ocr:hover {
  background-color: $tool-ocr-hover;
}

.tool--screenshot {
  background-color: $tool-screenshot;
  color: $text-dark;
}

.tool--screenshot:hover {
  background-color: $tool-screenshot-hover;
}

.tool--hex {
  background-color: $tool-hex;
  color: $text-dark;
}

.tool--hex:hover {
  background-color: $tool-hex-hover;
}

.tool--timer {
  background-color: $tool-timer;
  color: $text-dark;
}

.tool--timer:hover {
  background-color: $tool-timer-hover;
}

.tool--summarizer {
  background-color: $tool-summarizer;
  color: $text-dark;
}

.tool--summarizer:hover {
  background-color: $tool-summarizer-hover;
}

.tool__content {
  display: flex;
  align-items: center;
  gap: $gap-small;
}

.tool__image {
  width: 40px;
  height: 40px;
}

.tool__label {
  font-size: 1.125rem;
  font-weight: bold;
}